<h1>Authorized Numbers</h1>

<div class="col-sm-12">
  <%= link_to 'New Authorized number', new_authorized_number_path, class: 'btn btn-default' %>
</div>

<div class="col-sm-6">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Phone number</th>
        <th>Actions</th>
      </tr>
    </thead>

    <tbody>
      <% @authorized_numbers.each do |authorized_number| %>
        <tr>
          <td><%= authorized_number.phone_number %>
          <td>
            <%= link_to 'Show', authorized_number %>
            <%= link_to 'Edit', edit_authorized_number_path(authorized_number) %>
            <%= link_to 'Destroy', authorized_number, method: :delete, data: { confirm: 'Are you sure?' } %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
