<div class="row">
  <div class="col-sm-12">
    <ol class="breadcrumb">
      <li class="active">Authorized Numbers</li>
    </ol>
  </div>
</div>

<div class="col-sm-12">
  <%= link_to 'New Authorized number', new_authorized_number_path, class: 'btn btn-default' %>
</div>

<div class="col-sm-8">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Phone number</th>
        <th>Note</th>
        <th>Actions</th>
      </tr>
    </thead>

    <tbody>
      <% @authorized_numbers.each do |authorized_number| %>
        <tr>
          <td><%= authorized_number.phone_number %></td>
          <td><%= authorized_number.note %></td>
          <td>
            <%= link_to 'Show', authorized_number, class: 'btn btn-default' %>
            <%= link_to 'Edit', edit_authorized_number_path(authorized_number), class: 'btn btn-default' %>
            <%= link_to 'Destroy', authorized_number, class: 'btn btn-danger', method: :delete, data: { confirm: 'Are you sure?' } %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
