<!DOCTYPE html>
<html lang="en">
<head>
  <title>SmsApi</title>
  <meta name="viewport" content="width=device-width">
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

	<div class="container">
		<% unless alert.nil? %>
			<div class="col-sm-12 alert alert-danger" style="margin-top:15px;" role="alert">
				<%= alert %>
			</div>
		<% end %>

		<%= yield %>
	</div>

</body>
</html>
